<div class="page">
  <div class="upper-block">
    <p-card class="chart-block">
      <p-chart type="bar" [data]="data" [options]="chartConfig"></p-chart>
    </p-card>

    <div class="bonus-block">
      <div class="text-3xl">Відвідайте</div>
      <div class="text-6xl font-bold">5</div>
      <div class="text-3xl">занять для отримання </div>
      <div class="text-5xl flex align-items-center">
        <span>20</span>
        <img [style.width.px]="50" src="assets/images/fit-coin-2.png" alt="Fit Coins" />
      </div>
    </div>
  </div>
</div>