<div class="page">
  <full-calendar #calendarRef [options]="scheduleOptions"></full-calendar>
</div>

<p-dialog [(visible)]="isScheduleItemFormVisible"
          [modal]="true"
          [style]="{ width: '40%', minWidth: '300px', maxWidth: '500px', minHeight: '350px' }"
>
  <ng-template pTemplate="header">
    <span *ngIf="selectedScheduleItem.id" class="font-bold text-lg">Запланована подія</span>
    <span *ngIf="!selectedScheduleItem.id" class="font-bold text-lg">Нова подія</span>
  </ng-template>
  <app-schedule-item-form [isNew]="!selectedScheduleItem.id"
                          [scheduleItem]="selectedScheduleItem"
                          (byAdd)="createScheduleItem($event)"
                          (byUpdate)="editScheduleItem($event)"
                          (byDelete)="deleteScheduleItem($event)"
                          (byClose)="isScheduleItemFormVisible = false"
  ></app-schedule-item-form>
</p-dialog>