<div class="card">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
      <div class="app-title">
        <span class="app-title__first-part">GO/</span>
        <span class="app-title__second-part">\FIT</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div *ngIf="isLoginPage === false">
        <p-button *ngIf="userService.user"
                  icon="pi pi-shopping-cart" styleClass="mr-2"
                  [outlined]="true"
                  [badge]="fitOrderService.bracketProducts?.length ? fitOrderService.bracketProducts!.length.toString() : '0'"
                  (click)="openBracket()"
        ></p-button>
        <p-button *ngIf="!userService.user"
                  icon="pi pi-sign-in" label="Вхід"
                  [outlined]="true"
                  routerLink="/login"
        ></p-button>
        <p-button *ngIf="userService.user"
                  icon="pi pi-sign-out" label="Вихід"
                  [outlined]="true"
                  (click)="signOut()"
        ></p-button>
        <p-avatar *ngIf="userService.user?.imageUrl"
                  styleClass="ml-2" class="vertical-align-middle" size="large" shape="circle"
                  [image]="userService.user?.imageUrl!"
        ></p-avatar>
        <p-avatar *ngIf="userService.user && !userService.user.imageUrl"
                  styleClass="ml-2" size="large" shape="circle"
                  [style]="{ 'background-color': 'transparent', border: '2px solid #FFFFFF', color: '#FFFFFF' }"
                  [label]="userService.user.name.charAt(0)"
        ></p-avatar>
      </div>
    </ng-template>
  </p-menubar>
</div>