<div class="card">
  <p-menubar [model]="menuItems">
    <ng-template pTemplate="start">
      <div class="app-title">
        <span class="app-title__first-part">GO/</span>
        <span class="app-title__second-part">\FIT</span>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div>
        <p-button [outlined]="true"
                  routerLink="/login"
        >Вхід</p-button>
        <p-button [outlined]="true"
                  (click)="onLogout()"
        >Вихід</p-button>
      </div>
    </ng-template>
  </p-menubar>
</div>