<div class="surface-card p-4 shadow-2 border-round">
  <form class="flex flex-column gap-2" [formGroup]="form">
    <div class="flex flex-column gap-1">
      <label for="surname">Прізвище</label>
      <input pInputText id="surname" formControlName="surname" />
    </div>

    <div class="flex flex-column gap-1">
      <label for="name">Ім'я</label>
      <input pInputText id="name" formControlName="name" />
    </div>

    <div class="flex flex-column gap-1">
      <label for="patronymic">По-батькові</label>
      <input pInputText id="patronymic" formControlName="patronymic" />
    </div>

    <div class="flex flex-column gap-1">
      <label for="email">Електронна пошта</label>
      <input pInputText id="email" formControlName="email" />
    </div>

    <div class="flex-auto">
      <label for="dateOfBirth" class="block mb-2">Дата народження</label>
      <p-calendar formGroupName="dateOfBirth" id="dateOfBirth" [showIcon]="true"></p-calendar>
    </div>

    <div class="flex-auto">
      <label for="systemRole" class="block mb-2">Роль користувача</label>
      <p-dropdown styleClass="w-15rem" formControlName="systemRole" id="systemRole" [options]="systemRoles"></p-dropdown>
    </div>

    <p-divider align="left" type="solid">
      Облікові дані
    </p-divider>

    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input pInputText class="w-14rem" formGroupName="username" placeholder="Ім'я користувача в системі" />
    </p-inputGroup>

    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-key"></i>
      </p-inputGroupAddon>
      <input pInputText class="w-14rem"  formGroupName="password" placeholder="Пароль" />
    </p-inputGroup>

    <div class="flex flex-row justify-content-end mb-1">
      <div *ngIf="isNew">
        <p-button label="Створити" icon="pi pi-check" severity="success"
                  [raised]="true"
                  (onClick)="onAdd()"
        ></p-button>
      </div>

      <div *ngIf="!isNew" class="card flex justify-content-center gap-1">
        <p-button label="Зберегти" icon="pi pi-check" severity="success"
                  [raised]="true"
                  (onClick)="onUpdate()"
        ></p-button>
        <p-button label="Видалити" icon="pi pi-trash" severity="secondary"
                  [raised]="true"
                  (onClick)="onDelete()"
        ></p-button>
      </div>
    </div>
  </form>
</div>