<div class="surface-card p-4 shadow-2 border-round w-full lg:w-4">
  <div class="text-center mb-5">
    <div class="app-title">
      <span class="app-title__first-part">GO/</span>
      <span class="app-title__second-part">\FIT</span>
    </div>
    <div class="text-900 text-3xl font-medium mb-3">Ласкаво просимо 👋</div>
    <span class="text-600 font-medium line-height-3">Не маєте облікового запису?</span>
    <a class="font-medium no-underline ml-2 text-orange-400 cursor-pointer">Зв'язатись з адміністратором</a>
  </div>

  <div [formGroup]="form" (keyup.enter)="signIn()">
    <label for="username" class="block text-900 font-medium mb-2">Ім'я користувача</label>
    <input formControlName="username" id="username" type="text" placeholder="Ім'я користувача" pInputText class="w-full mb-3">

    <label for="password" class="block text-900 font-medium mb-2">Пароль</label>
    <input formControlName="password" id="password" type="password" placeholder="Пароль" pInputText class="w-full mb-3">

    <div class="flex align-items-center justify-content-between mb-6">
      <div class="flex align-items-center">
        <p-checkbox id="isRememberChecked" [binary]="true" styleClass="mr-2"></p-checkbox>
        <label for="isRememberChecked">Запам'ятати секретні дані 🔐</label>
      </div>
      <a class="font-medium no-underline ml-2 text-orange-400 text-right cursor-pointer">Забули пароль?</a>
    </div>

    <button pButton pRipple label="Увійти" icon="pi pi-user" class="w-full" (click)="signIn()"></button>
  </div>
</div>