/* You can add global styles to this file, and also import other style files */
@import 'assets/themes/theme.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';

body {
  padding: 0;
  margin: 0;
}
.page {
  display: block;
  position: relative;
  height: calc(100vh - 62px);
}
.bg-athlete {
  background-color: var(--orange-400);
}
.bg-coach {
  background-color: var(--teal-400);
}
.bg-admin {
  background-color: var(--purple-400);
}